<h2>Create an Author</h2>
<%= form_for @author do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.submit%>
<% end %>
